/* general */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-areas: 
    "header main"
    "nav main"
    "footer main";
    --colorPrimario: #686D76;
    --ColorIntermedio: #373A40;
    --colorSecundario: #DC5F00;
    text-align: center;
    margin: 0px;
    padding: 5px;
    background-color: var(--ColorIntermedio);
}
/* header */
header {
    color: var(--colorPrimario);
    grid-area: header;
    height: fit-content;
    align-self: start;
}
/* nav */
nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-self: center;
}
nav a{
    color: var(--colorPrimario);
    text-decoration: none;
    padding: 5px;
    transition: 1s;
}
nav a:hover{
    color: var(--colorSecundario);
    text-decoration: none;
    padding: 5px;
}
nav a.Carritos{
    margin-top: 50px;
    border: 2px solid var(--colorPrimario);
    border-radius: 10px 0px 0px 10px;
}
/* main */
main{
    grid-area: main;
    margin: 15px 0px 0px 0px;
    color: var(--colorPrimario);
    border: 2px solid var(--colorPrimario);
    background-color: var(--ColorIntermedio);
    border-radius: 50px;
    height: 95vh;
    overflow-y: scroll;
}
main h2{
    margin: 10px 0px;
}
main section.Productos {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
main section.Productos div {
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 30px;
    background-color: var(--ColorIntermedio);
    transition-duration: 1s;
}
main section.Productos div:hover {
    color:var(--colorSecundario);
}
main section.Productos div img {
    width: 200px;
    padding: 5px;
    border-radius: 50px;
    transition-duration: 1s;
}
main section.Productos div div.Informacion {    
    display: grid;
    border: none;
    margin: 0px;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
}
main section.Productos div div.Informacion div {
    display: flex;
    flex-direction: column;
    border: none;
}
main section.Productos div a {
    color: var(--colorPrimario);
    text-decoration: none;
    border: 2px solid var(--colorSecundario);
    background-color: var(--ColorIntermedio);
    border-radius: 10px;
    padding: 5px;
    grid-area: end;
    transition-duration: 1s;
}
main section.Productos div a:hover {
    color: var(--colorSecundario);
}
/* footer */
footer{
    grid-area: footer;
    color: var(--colorPrimario);
    height: fit-content;
    align-self: end;
    position: relative;
    bottom:2vh;
}
/* reglas */
@media (max-width:1400px) {  
    body{
        font-size: 15px;
    }
    main section.Productos div img {
        width: 150px;
    }
}
@media (max-width:1000px) {  
    body{
        font-size: 10px;
    }
    main section.Productos div img {
        width: 100px;
    }
}
@media (max-width:770px) {
    body{
        display: flex;
        flex-direction: column;
    }
    header{
        align-self: center;
    }
    nav a.Carritos{
        border-radius: 10px;
    }
    main{
        height: 70vh;
    }
    footer{
        align-self: center;
        position: static;
    }
}
@media (max-width:600px) {
    main section.Productos div {
        flex-direction: column;
    }
}
@media (max-width:400px) {
    main section.Productos div div.Informacion {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:150px) {
    body{
        word-break: break-all;
    }
    main section.Productos div img {
        width: 100%;
    }
}